<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Warehouse MGMT</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div id="header">
        <h1 class="text-center py-auto">CAR WAREHOUSE MGMT</h1>
        
    </div>
    <div class="container" id="app">
        <div class="row">
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">Car Name</th>
                            <th scope="col">Car Owner</th>
                            <th scope="col">LCS plate</th>
                            <th scope="col">Storage unit number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="car in allCars">
                            <th scope="row">{{car._id}}</th>
                            <td>{{car.CarName}}</td>
                            <td>{{car.CarOwner}}</td>
                            <td>{{car.LcPlt}}</td>
                            <td>{{car.LotNr}}</td>
                            <td><span><i v-if="loggedIn" class="fa fa-trash-o" @click="deleteCar(car._id)"></i></span></td>
                            <td><span><i v-if="loggedIn" @click="openModal('Update car', car._id)" class="fa fa-pencil-square-o" data-toggle="modal" data-target="#modelId"></i></span></td>
                          </tr>
                        </tbody>
                      </table>
        </div>
        <button v-if="loggedIn" @click="openModal('Add car')" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modelId">
                Add Car
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modelTitleId">{{modalTitle}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <label>Car Name</label>
                        <input class="form-control" v-model="carSchema.CarName" type="text" placeholder="Buumer">
                        <br>
                        <label>Car Owner</label>
                        <input class="form-control" v-model="carSchema.CarOwner" type="text" placeholder="Statham">
                        <br>
                        <label>License Plate</label>
                        <input class="form-control" v-model="carSchema.LcPlt" type="text" placeholder="420UBG">
                        <br>
                        <label>Lot nr</label>
                        <input class="form-control" v-model="carSchema.LotNr" type="text" placeholder="3">
                    </div>
                    <div class="modal-footer">
                      <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button  type="button" @click="modalTitle == 'Add car' ? addCar() :  updateCar()" data-dismiss="modal" class="btn btn-primary">Save</button>
                    </div>
                  </div>
                </div>
              </div>
        <form v-if="!loggedIn" >
          <input type="text" v-model="loginForm.username" name="username" id="un" placeholder="username">
          <input type="password" v-model="loginForm.password" name="password" id="pw" placeholder="password">
          <button  @click="login" type="button" class="btn" >Log me in</button>
        </form>
      
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="vue.js"></script>
</body>
</html>